<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    
<header>
  <nav>
    <a href="/">Home</a>
    <!-- TODO more nav items ; use a ul/li -->
  </nav>
  <h3>{{ title }}</h3>
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
</footer>

</body>
</html>
